@CHARSET "ISO-8859-1";

body{
	background: #5C9F41;
}
#page{
	width: 800px;
	margin: 0 auto;
}

#header{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	width: 800px;
	height:50px;
	border: 0px solid #000;
	margin-bottom:10px;
}

#content{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	width: 780px;
	padding:10px;
	margin-bottom:16px;
	border: 1px solid #000;
	background: #FFF;
	
}

#footer{
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	width: 100%;
	height:30px;
	border: 1px solid #000;
	text-align: center;
	background: #E2E2E2;
}